html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1 1 100vh;
  /* Establece una altura mínima de 100vh (altura de la ventana) */
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/dpjeltekx/image/upload/v1700513237/asambleas/app/cor033-p0rx9wxdjqomx5p3zagnjmxt8p9rq3u5vkm64ws774_omnhyo.jpg");
  background-size: cover;
  background-position: center;
}